[BUG] non-standard uri fragment

### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

Toggleterm generates uri fragments that contain `#`, eg:

```
term://~/code/typos-lsp//59317:/bin/zsh;#toggleterm#1
```

This causes LSP servers using a strict URI parser to fail in toggleterm. See https://github.com/tower-lsp-community/tower-lsp-server/issues/65. 

### Expected Behavior

According to  [RFC 3986 Section 3.5](https://datatracker.ietf.org/doc/html/rfc3986#section-3.5) the use of `#` in a fragment like `toggleterm#1` is non-standard. Lenient parsers may allow this, but strict URI parsers fail.

To allow interoperability with LSP servers that use strict parsers, would you consider an alternative, for example percent encoding (ie: `%23`) the `#` in the fragment?


### Steps To Reproduce

Use toggleterm with typos-lsp and notice that it doesn't spell check.

### Environment

```Markdown

```

### Anything else?

Thank you!